/* Reset margin and padding */

* {
    margin: 0;
    padding: 0;
}

/* Set common styles */

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}


.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center ;
}


/* Navbar Styles */

nav {
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 2;
    top: 0;
    height: 69px;
    padding: 0 10px;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
}


/* Mission Section Styles */

#mission {
    width: 1200px;
    height: 700px;
    margin: 69px auto 0 auto;
    background: url('../images/img-mission-background.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#mission article {
    width: 100%;
    background-color: black;
    padding: 10px;
}

#mission h4 {
    margin-top: 20px;
}


/* Tea of the month section styles */

#month_tea {
    width: 1000px;
    margin: 60px auto;
}

#month_tea > h4 {
    margin: 20px 0 10px 0;
}


#month_tea > div {
    justify-content: center;
}

#month_tea img {
    height: 200px;
    width: 300px;
    display: block;
    margin-bottom: 15px;
}

#month_tea div div {
    padding: 15px;
}


/* Locations section styles */

#locations {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    background: url('../images/img-locations-background.webp');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#locations div div {
    background-color: black;
    width: 300px;
    margin: 40px;
    line-height: 3;
}


/* Footer section styles */

footer {
    height: 200px;
}

footer h5{
    margin: 20px 0;
}

footer span{
    align-self: flex-start;
    margin-left: 20px;
}